* {
  font-family: helvetica,arial, sans-serif;
}
.banner {
  color: #fff;
  font-size: 5em;
  /*font-family: 'Pacifico', cursive;*/
  font-family: 'Permanent Marker', cursive;
  background-image: url("../img/ban.png");
  background-color: #000; /*Default bg, similar to the background's base color*/
  background-position: top right; /*Positioning*/
  background-repeat: no-repeat;
  padding: 50px 20px;
}
body {
  margin: 5%;
  background-size:auto;
  /*background-image: url("../img/bg.jpg");*/
   background: radial-gradient(circle, orange, red, #000);
}
h1 {
  text-align:center;
  font-size: 3em;
}
h3 {
  text-align: center;
  margin-top: 80px;
}
h4 {
  font-size: 1.5em;
}
.space{
  width: 200px;
  height: 200px;
  border: solid 2.5px #444;
}
.btn {
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
  background-color: #444;
}
.btn:hover {
  color: #b82601;
  background-color: #fff;
}
.btn:visited {
  color: #fff;
  background-color: #444;
}
.btn:active {
  color: #fff;
  background-color: #444;
}
#top {
  background-color: #000;
  height: 200px;
}
#body{
  margin:auto;
  background-color: #d0d0d0;
  border: solid thick #333;
  padding: 20px;
}
#side {
  margin:auto;
  background-color: #d0d0d0;
  border: solid thick #333;
  padding: 20px;
  height: 581px;
}
#results {
  margin:30px;
  background-color: #f9f9f9;
  border: solid thick #333;
  padding: 20px;
  font-size: 1.4em;
  display:none;
  box-shadow: 5px 5px 5px #999;
}
#footer {
  margin:auto;
  background-color: #000;
  padding: 10px;
  font-size: 1em;
  color: #d2d2d2;
  text-align: center;
}
